:root{
    --primary: #5f5e5e;
    --secondary: #3d4a6e;
    --alternative: #00a6ff;
}

body{
    font-family: 'Alef', sans-serif;
}

.color-primary{
    color: var(--primary);
}

.color-alternative{
    color: var(--alternative);
}

.ff-title{
    font-family: 'Belanosima', sans-serif;
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5{
    font-family: 'Belanosima', sans-serif;
    color: var(--secondary);
}

h2, .h2{
    font-size: 70px;
}

/* Navbar */
.logo{
    width: 50px;
}

.nav-link{
    font-size: 25px;
}
.nav-link:hover{
    color: var(--alternative);
}

.navCustom{
    width: 70%;
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px);
    border: 1px solid rgba(255, 255, 255, 0.48);
    transition: 0.3s;
}

.navbar{
    position: fixed;
    width: 100%;
    transition: 0.3s;
    z-index: 2;
}

/* Navbar end */

/* Header */

.background{
    background-image: linear-gradient(rgba(23, 23, 23, 0.2), rgba(23, 23, 23, 0.2)), url(./media/header.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.titolo{
    font-size: 160px;
    width: 800px;
    padding-top: 100px;
    text-shadow: 2px 1px 8px rgb(45, 45, 45);
}

@media screen and (max-width: 800px) {
    .titolo{
        font-size: 70px;
        width: 350px;
    }
}

.containerSearch{
    padding-top: 0;

}

.input-group{
    width: 350px;
}

.btn{
    background-color: white;
    border: none;
    z-index: 0!important;
}

.btnFiltri{
    cursor:default!important;
}

.btn:hover {
    color: var(--secondary);
    background-color: var(--alternative);
}

.btn.show {
    color: var(--secondary);
    background-color: var(--alternative)!important;
}

@media screen and (max-width: 990px) {
    .searchNav{
        margin-bottom: 20px;
    }
}

/* Header end */

/* Section Numeri */

.divideSezioni{
    margin-top: 150px;
    background-image: url(./media/bilanciere_forma.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 80vh;
}

.imgCustom{
    height: 300px;
    width: 300px;
    object-fit: cover;
}

/* Section Numeri */

/* Section Carousel */

.bgCarouselSection{
    background-color: #e0e0e0;
    padding: 150px;
    background-image: url(./media/img_repeat.png);
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 15%;
    margin-bottom: 150px;
}

@media screen and (max-width: 800px) {
    .bgCarouselSection{
        padding: 20px;
    }
}

.swiper {
    min-width: 40vw;
    height: 500px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit:cover;
  }

  .swiper-button-prev{
    color: white;
  }

  .swiper-button-next{
    color: white;
  }

  .swiper-pagination{
    color: white;
  }

  .swiper-pagination-bullet-active{
    background-color: white;
  }

/* Section Carousel end */

/* Section Card */

.card{
    box-shadow: 1px 1px 20px rgb(59, 59, 59);
    width: 18rem;
    text-align: center;
    border: none;
}

/* Section Card end*/

/* Section Timeline */

.containeTimeline{
    margin-top: 150px;
}

.barra{
    border-left: 4px solid var(--secondary);
    position: relative;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
}

.timeline::before{
    position: absolute;
    content: '';
    height: 30px;
    width: 30px;
    border: 2px solid var(--secondary);
    background-color: white;
    border-radius: 50%;
    left: -18px;
}

/* Section Timeline end */

/* Section Grid Image */

.containerImgGrid{
    width: 90%;
    margin: auto;
    padding: 40px 0;
  }

  .photo-gallery{
    display: flex;
    gap: 20px;
  }

  .columnImgGrid{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .photo img {
    width: 100%;
    border-radius: 5px;
    height: 100%;
    object-fit: cover;
  }

  @media(max-width: 768px){
    .photo-gallery {
      flex-direction: column;
    }
  }

  /* Section Grid Image end */

  /* Footer */

  .containerFooter{
    background-color: #3d4a6e;
  }

  .containerFooter li, a, ul{
    color: white;
    list-style: none;
    text-decoration: none;
    padding: 0;
  }

  .containerFooter a:hover{
    color: var(--alternative)
  }

  /* Footer end */